<!DOCTYPE html>
<html>
<head>
    <title>服务端页面</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://cdn.bootcss.com/jquery/2.1.2/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/lodash.js/4.17.3/lodash.min.js"></script>
    <script src="https://use.fontawesome.com/dfbc06ace2.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
<div class="container">
    <!--头部-->
    <div class="row head-top">
        <div class="top-nav">
            <span class="logo"><i class="fa fa-leaf fa-2x"></i></span>
            <span class="logo-title">这个是服务端页面</span>
        </div>
    </div>

    <!--内容区-->
    <div class="row main-content">
        <!--左-->
        <div class="col-md-12 col-sm-12 col-xs-12">

        </div>
    </div>

</div>
</body>
</html>
